<div class="row navbar">
  <div class="col-sm-3">
    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
    <span class="span">Home</span>
  </div>
  <div class="col-sm-3">
    <i class="fa fa-users" aria-hidden="true"></i>
    <span class="span">My Network</span>
  </div>
  <div class="col-sm-3">
    <i class="fa fa-briefcase" aria-hidden="true"></i>
    <span class="span">Job offers</span>
  </div>
  <div class="col-sm-3">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span class="span">My Profile</span>
  </div>
</div>
